header{
    text-align: center;
}
h1{
    padding-top: 50px;
    font-size: 3em;
}
h2{
    font-size: 1em;
    color: #3461eb;
}
main{
    margin: 10%;
    margin-top: 30px;
}
p, li{
    font-size: 1.5em;
}
li{
    margin-left: 5%;
}
img{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.dark{
    background-color: #333;
    color: white;
}
.dark h2{
    color: #58b2ee;
}